apiVersion: v1
kind: Service
metadata:
  name: aiagent-service
  labels:
    app.kubernetes.io/name: aiagent
spec:
  type: {{ .Values.service.type }}
  ports:
    - port: {{ .Values.service.port }}
      targetPort: {{ .Values.service.port }}
      protocol: TCP
      name: http
  selector:
    app.kubernetes.io/name: aiagent

